div {
  text-align: center;
}

.container {
  display: flex;
}

.guild {
  margin: 0 auto;
  flex: 2;
  min-width: 300px;
  max-width: 400px;
  vertical-align: top;
}

.guild-scroll {
  max-height: 400px;
  overflow-y: auto;
}

.log-scroll {
  max-height: 600px;
  overflow-y: auto;
  text-align: left;
  font: 10pt 'Times New Roman', sans-serif;
}

.log {
  flex: 1;
  float: left;
  vertical-align: bottom;
  min-width: 500px;
  max-width: 1200px;
}

.dealer {
  border-bottom: 1px solid #00303F;
  margin: 0 auto;
}

.namespace,
.year {
  background: #5BE7C4;
  padding: 20px;
  font: 16pt "Kurale", sans-serif;
  overflow: hidden;
}

.btn {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #50C1E9;
  box-shadow: 0 -3px rgb(68, 153, 184) inset;
  transition: 0.2s;
}

.btn:hover {
  background: rgb(93, 208, 250);
}

.btn:active {
  background: rgb(68, 165, 201);
  box-shadow: 0 3px rgb(67, 151, 182) inset;
}