div {
  text-align: center;
}

.guild {
  display: inline-block;
  /*border: 1px solid #00303F;*/
  min-width: 300px;
  max-width: 400px;
  vertical-align: top;
  float: left;
  max-height: 800px;
}

.log {
  /*border: 2px solid #00303F;*/
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
  width: 75%;
}

.dealer {
  border-bottom: 1px solid #00303F;
  margin: 0 auto;
}

.namespace,
.year {
  background: #5BE7C4;
  padding: 20px;
  font: 16pt "Kurale", sans-serif;
  overflow: hidden;
}

.btn {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #5BE7C4;
  box-shadow: 0 -3px #5BE7C4 inset;
  transition: 0.2s;
}

.btn:hover {
  background: #5BE7C4;
}

.btn:active {
  background: #5BE7C4;
  box-shadow: 0 3px #5BE7C4 inset;
}